@charset "UTF-8";

#body{
	background-color:#1B95AC;
	margin:auto;
	width:60%;
}

#clear{
	clear:both;
	padding-top:20px;
}

#h1{
	font-family: "Dancing Script" cursive;
	font-size: 40px;
	font-style: normal;
	font-weight: 400 bolder;
	text-align:center;
	margin-bottom:60px;
	color:#672526;
}

#amb{
	width:200px;
	height:200px;
	float:left;
}

#div1{
	border-radius: 25px;
    border: 2px solid #73AD21;
    padding: 20px; 
    width: 600px;
    height: 250px;
	position:static;
	margin-left:250px;
}

#hours {
	border-radius: 25px;
    border: 2px solid #73AD21;
    width: 280px;
    height: 250px;
	position:static;
	float:left;
}

#comment{
	border: 4px solid rgba(0,0,0,0.1);
	padding: 8px 10px;
	width:600px;
	length:600px;
	float:left;
	margin-left:40px;
}

#submit {
	float:left;
	margin-left:610px;
	margin-right:100px;
}

.first-name{
	margin-left:30px;
	margin-right:710px;
	margin-bottom:10px;

}








